body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.root-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img{
    width: 100px;
}